services:
  client:
    image: "pranshu72001/fib-app-client"
    mem_limit: 128m
    hostname: client
  
  server:
    image: "pranshu72001/fib-app-server"
    mem_limit: 128m
    hostname: api
    environment:
      - REDIS_HOST=$REDIS_HOST
      - REDIS_PORT=$REDIS_PORT
      - PGUSER=$PGUSER
      - PGHOST=$PGHOST
      - PGDATABASE=$PGDATABASE
      - PGPASSWORD=$PGPASSWORD
      - PGPORT=$PGPORT
  
  worker:
    image: "pranshu72001/fib-app-worker"
    mem_limit: 128m
    hostname: worker
    environment:
      - REDIS_HOST=$REDIS_HOST
      - REDIS_PORT=$REDIS_PORT
  
  nginx:
    image: "pranshu72001/fib-app-nginx"
    mem_limit: 128m
    hostname: nginx
    ports:
      - "3050:80"